<h1 class="text-info">Ruby blog</h1>

<%= link_to("Blog", controller: 'articles') %>
<%= link_to("Create an article", new_article_path) %>

<h1>tests</h1>

<p><%= @link %></p>
<p><%= @title %></p>
<p><%= @item %></p>




